#App User
DEFAULT_APP_USER=[Default admin username]
DEFAULT_ADD_EMAIL=[Default admin email]
DEFAULT_APP_PASSWORD=[super secret password]

#Owner User
DEFAULT_OWNER_USER=[Default owner username]
DEFAULT_OWNER_EMAIL=[Default owner email]
DEFAULT_OWNER_PASSWORD=[super secret password]

# Session
SESSION_SECRET=[super secret password]

# Mongo DB
MONGO_URL=mongodb://127.0.0.1:27017/dashboardDB