body {
  margin: 0;
  font-family: system-ui, sans-serif;

  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto auto 1fr; /* motd + header + content */
  grid-template-areas:
    "motd motd"
    "header header"
    "nav main";

  min-height: 100vh;
}

.motd {
  grid-area: motd;
  position: sticky;
  top: 0;
  z-index: 50;
}

.site-header {
  grid-area: header;
  /* position: sticky; */
  top: 0; /* stays under motd */
  z-index: 40;
}

nav {
  grid-area: nav;
}

main.content {
  grid-area: main;
}
