body {
  margin: 0;
}

#motd-banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  
  background-color: #0056b3;
  color: white;
  padding: 0.5rem 1rem;
}

#motd-text {
  flex: 1;
  margin: 0;
  text-align: center;
  margin-right: 2rem;
}

#motd-readmore {
  color: gainsboro;
}

#dismiss-button {
  position: absolute;
  right: 0.5rem;

  border-radius: 50%;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;

  transition: none;
  animation: none;
  transform: none;
  box-shadow: none;
}

#motd-banner.hidden {
  display: none;
}
#motd-readmore.hidden {
  display: none;
}